# .envrc is the configuration file for direnv.

# direnv is an environment switcher for the shell.
# It knows how to hook into bash, zsh, tcsh and fish shell
# to load or unload environment variables depending on the current directory.

# This allows project-specific environment variables without cluttering the ~/.profile file.


export ROOTDIR=$(pwd)
export CC=$(which clang)
export CXX=$(which clang++)

layout python python3.6
if ! pip freeze | grep "bumpversion" &> /dev/null; then
   pip install bumpversion
fi

if [ ! -d build  ]; then
   mkdir build
fi

cd ./build
cmake ..
cd -

precommit=$ROOTDIR/.git/hooks/pre-commit
if [ ! -L $precommit ]; then
   if [ -e $precommit ]; then
      echo "a git pre-commit hook already exists, can't set custom one."
   else
      git config hooks.clangformat.style google
      ln -s $ROOTDIR/tools/git-hooks/pre-commit $precommit
   fi
fi

if [ ! -d ${ROOTDIR}/deps ]; then
   mkdir ${ROOTDIR}/deps

   git clone https://github.com/Microsoft/GSL.git ${ROOTDIR}/deps/gsl
   git clone https://github.com/bombela/backward-cpp.git ${ROOTDIR}/deps/backward-cpp

   git clone https://github.com/google/re2.git ${ROOTDIR}/deps/re2

   git clone https://github.com/sakra/cotire.git ${ROOTDIR}/deps/cotire
fi

if [ ! -d /usr/local/include/re2 ]; then
   cd ${ROOTDIR}/deps/re2 && cmake . && make -j $(nproc) && sudo make install
fi

if [ ! -d ${ROOTDIR}/cmake ]; then
   mkdir -p ${ROOTDIR}/cmake

   ln -s ${ROOTDIR}/deps/cotire/CMake/cotire.cmake \
         ${ROOTDIR}/cmake/cotire.cmake
fi

export PATH=$ROOTDIR/tools:$PATH
watch_file $ROOTDIR/build/Makefile
watch_file $ROOTDIR/.git/hooks/pre-commit
watch_file $ROOTDIR/CMakeLists.txt
