# .envrc is the configuration file for direnv.

# direnv is an environment switcher for the shell.
# It knows how to hook into bash, zsh, tcsh and fish shell
# to load or unload environment variables depending on the current directory.

# This allows project-specific environment variables without cluttering the ~/.profile file.


export ROOTDIR=$(pwd)

layout python python3.6
if ! pip freeze | grep "bumpversion" &> /dev/null; then
   pip install bumpversion
fi

if [ ! -d build  ]; then
   mkdir build
fi

cd ./build
cmake -D CPACK_OUTPUT_DIR=$(pwd)/pkg ..
cd -

export PATH=$(pwd)/tools:$PATH
watch_file $(pwd)/build/Makefile
watch_file $(pwd)/CMakeLists.txt
