# .envrc is the configuration file for direnv.

# direnv is an environment switcher for the shell.
# It knows how to hook into bash, zsh, tcsh and fish shell
# to load or unload environment variables depending on the current directory.

# This allows project-specific environment variables without cluttering the ~/.profile file.


export ROOTDIR=$(pwd)

layout python python3.6
if ! pip freeze | grep "bumpversion" &> /dev/null; then
   pip install bumpversion
fi

if [ ! -d build  ]; then
   mkdir build
fi

cd ./build
cmake ..
cd -

precommit=$ROOTDIR/.git/hooks/pre-commit
if [ ! -L $precommit ]; then
   if [ -e $precommit ]; then
      echo "a git pre-commit hook already exists, can't set custom one."
   else
      git config hooks.clangformat.style google
      ln -s $ROOTDIR/tools/git-hooks/pre-commit $precommit
   fi
fi

export PATH=$ROOTDIR/tools:$PATH
watch_file $ROOTDIR/build/Makefile
watch_file $ROOTDIR/CMakeLists.txt
watch_file $ROOTDIR/.git/hooks/pre-commit
